[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libraries/cgltf"]
	path = Libraries/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "Libraries/meshoptimizer"]
	path = Libraries/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
